body {
    font-family: helvetica, sans-serif;
}

#flex {
    display: flex;
    flex-direction: row;
}

/*responsive*/
@media only screen and (max-width: 600px){
    
}

main {
    height: 100%;
    min-width: 350px;
    max-width: 600px;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 20px;
    overflow-y: auto;
}

span {
    height: 100%;
    min-width: 350px;
    max-width: 600px;
    z-index: 1;
    top: 0;
    left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    overflow-y: auto;
}

.card {
    background-color: lightgray;
    padding: 1em 2em;
}

form div {
    padding: auto 20px;
}

label {
    font-weight: bold;
    padding: auto 10px;
    margin-top: 15px;
}

.input-text {
    width: 90%;
}

i {
    width: 3%;
    border: 1px solid lightgray;
}

button {
    margin-top: 20px;
}

.alert {
    display: none;
}